/* Color choices */
/* blue #01BEF5 */
/* blue on focus/hover #34CFFE; */


/* Old green #66d6c5*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    position: relative;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #01BEF5;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
    text-transform: uppercase;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    text-transform: uppercase;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.colored-text { color: #01BEF5; }

::-moz-selection { background: #01BEF5; color: #fff; text-shadow: none; }
::selection { background: #01BEF5; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/ring-alt.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #01BEF5;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { color: #fff; background-color: #34CFFE;}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	/* Same color as text */
	background: #555;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { background: #5e5e5e; color: #fff; }


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dotted #aaa;
}


/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #01BEF5;
	border: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse .navbar-toggle{
	border-color: white;
}
.navbar-inverse .navbar-toggle:hover{
	background-color: #34CFFE;
}
.navbar-inverse .navbar-toggle:focus{
	background-color: #34CFFE;
}

.navbar-inverse ul.navbar-nav li a { padding-top: 20px; padding-bottom: 20px; color: #fff; opacity: 0.8; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; }

a.navbar-brand[href="index.html"] {
	color: #fff;
	padding: 22px;
}

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}

/* Adds color to menu item with active class */

.navbar-inverse .navbar-nav>.active>a{
	background-color: transparent;
	color: #555;
	font-weight: bold;
}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: #555;
	font-weight: bold;
}

.navbar-inverse .navbar-collapse{
	border-color: #fff;
}

/***** Animation for hamburger menu icon *****/
.navbar-toggle .icon-bar:nth-of-type(3) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(4) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
	  top: -6px;
	  transform: rotate(-45deg);
}

/***** Top content *****/

.inner-bg {
    padding: 280px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 35px;
}


/***** Features *****/

.skills-box {
	padding-top: 30px;
}

.skills-box .skills-box-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background: #f8f8f8;
    font-size: 60px;
    color: #555;
    line-height: 120px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.skills-box .skills-box-icon:hover {
	background: #01BEF5;
}

.skills-box h3 {
	margin-top: 15px;
	padding: 10px 0;
}


/***** Skills *****/

.skills-container {
	padding-bottom: 60px;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}

.skills-features-box {
	margin-top: 30px;
	margin-bottom: 20px;
}

.skills-features-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.skills-features-box-text:first-child { margin-top: 20px; }

.skills-features-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}

.skills-features-box-text-icon {
	float: left;
	width: 60px;
	height: 60px;
	padding-top: 6px;
	background: #01BEF5;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
.skills-features-box-text-icon i { vertical-align: middle; }

.skills-features-box-text h3 {
	float: right;
	width: 86%;
	margin-top: 0;
}

.skills-features-box-text-description {
	float: right;
	width: 86%;
}


/***** Portfolio *****/

.portfolio-container {
	padding-bottom: 60px;
}

.portfolio-box {
	margin-top: 30px;
	margin-bottom: 20px;
}

.portfolio-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.portfolio-box-text:first-child { margin-top: 20px; }

.portfolio-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}

.portfolio-box-text h3 {
	margin-top: 0;
}

.portfolio-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}


/***** interests *****/

.interests-container {
	padding-bottom: 70px;
}

.interests-list {
    margin-top: 30px;
    text-align: center;
}

.interests-list .interests-image img {
	max-width: 160px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.interests-list .interests-text {
	margin-top: 30px;
}

.interests-list .nav-tabs {
	margin-top: 30px;
    border: 0;
}

.interests-list .nav-tabs li {
	float: none;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
}

.interests-list .nav-tabs li a {
    width: 14px;
    height: 14px;
    padding: 0;
    background: #ddd;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.interests-list .nav-tabs li a:hover { border: 0; background: #01BEF5; }
.interests-list .nav-tabs li.active a { background: #01BEF5; }
.interests-list .nav-tabs li.active a:focus { border: 0; }


/***** Call to action *****/

.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}


/***** About us *****/

.contact-container {
	padding-bottom: 65px;
	border-top: 1px dotted #ddd;
	background: url(../img/working.jpg) center center no-repeat;
}

.contact-container input{
	border: 
}

.contact-box {
	padding-top: 30px;
	padding-bottom: 15px;
}

.contact-box .contact-photo {
	width: 160px;
	margin: 0 auto;
}

.contact-box .contact-photo img {
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.contact-box .contact-social {
    margin-top: 5px;
    font-size: 32px;
    line-height: 36px;
}

.contact-box .contact-social a { margin: 0 4px; color: #ddd; }
.contact-box .contact-social a:hover, .contact-box .contact-social a:focus { color: #01BEF5; }

.contact-form-container{
	background-color: #f8f8f8;
	padding: 5%;
	outline: 6px solid rgba(34, 34, 34, 0.08);
}


/***** Footer *****/

footer {
	padding: 40px 0 35px 0;
	background: #f8f8f8;
	border-top: 1px dotted #ddd;
}

.footer-social {
	font-size: 42px;
    line-height: 42px;
}

.footer-social a {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0 5px;
	padding-top: 7px;
	background: #eee;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 32px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
.footer-social a:hover, .footer-social a:focus { background: #01BEF5; color: #555; cursor: pointer;}

.footer-social a i { vertical-align: middle; }

.footer-copyright {
	margin-top: 25px;
}
